.score__list-item {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #666666;
}

.score__list-item_text {
  color: #333333;
}

.score__list-item_text.name,
.score__list {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.01rem;
}

.score__list-item_text.email {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.04rem;
}

.score__list-item_text.score {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #2196f3;
}
