.state-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(176, 176, 176, 0.4);
  z-index: 1;
}

.popup__wrapper {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 36rem;
  height: 11.2rem;
  background: #fff;
  box-shadow: 0 1px 5px 0 #00000085;
  border-radius: 1rem;
}

.link_popup {
  width: 2rem;
  background-color: #1e88e5;
  color: #fff;
  justify-content: center;
}

.popup__text {
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.025rem;
  color: #666;
}

.link__wrapper {
  display: flex;
}

.link_popup:hover {
  background-color: #2196f3;
}

.link_popup:active {
  color: #ddd;
}

.popup__wrapper.registration {
  height: 46rem;
  width: 64rem;
  justify-content: left;
  align-items: flex-start;
  padding: 2rem 1.6rem;
}

.registration__text {
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.015rem;
  color: #212121;
}

.registration__wrapper {
  display: flex;
  margin-top: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.avatar {
  margin-left: 4rem;
  width: fit-content;
  height: fit-content;
}

.form__btn {
  width: 10.8rem;
  height: 3.6rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px 0px #0000001f;
  background-color: #2196f3;
  cursor: pointer;
}

.form__btn:hover {
  background-color: #1e88e5;
}

.form__btn.cancel {
  margin-left: 1.7rem;
  color: #2196f3;
  background-color: #e3f2fd;
}

.form__btn.cancel:hover {
  background-color: #e2ecf6;
}

.btn__wrapper {
  position: absolute;
  bottom: 3rem;
  right: 4rem;
}

.form__warning {
  display: none;
}

.form__warning.active {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 5.7rem;
  width: 100%;
  background-color: rgba(255, 43, 43, 0.4);
  height: 3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #1f1f1f;
  z-index: 1;
}
